{% extends 'planner/base.html' %}
{% block body %}
		<div class="row">
			<h1>Daily Study Hours</h1>
			<h3 style="color:#808e9b">Fill in the details and figure out <br> how many hours you need to study everyday.</h3><br>
			<form action="/studyplanner/" method="POST" id="myForm">
				{% csrf_token %}
				<div class="form-group">
					<label>I have <input type="text" name="days" id="days"> days left until the exam.</label>
					<br>
					
					<label>I have <input id="msgs" type="text" name="subjects"> no. of subjects to study.</label>
					<br><br>
					<div id='data-table'>
						
					</div>
						<div id="submit-btn">
						</div>
					
					
				</div>
			</form>
			{% if minutes %}
			<p style="font-size:24px;color:#dcdde1">You should study <b>{{ hours }} hours {{ minutes }} minutes</b> everyday if you start today.
				{% endif %}
			</div>
		</div>
	{% endblock %}